ul {
  list-style-type: none;
}

input {
  line-height: 2.25em;

}

button {
  line-height: 2.25em;
}

.sized-component {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
}

button {
  margin: 1em;
  background-image: linear-gradient(92.88deg, #b59045 9.16%, #ec6e4c 64.72%);
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
}

button:hover {
  box-shadow: rgb(236, 110, 76) 0 2px 30px;
  transition-duration: .1s;
}
